body {
		font-family: 'Open Sans', sans-serif;
		background: #F2F2F2;
	}
	a {
		color: #C69C6D;
	}
	a:hover {
		color: #8C6239;
	}
	h2 {
		font-weight: 800;
	}
	.section-lander {
		/* background: linear-gradient(rgba(77, 55, 32, 0.85), rgba(77, 55, 32, 0.85)), rgba(77, 55, 32, 0.85) url('http://cdn.vnoc.com/mailchannel/businessman.jpg'); */
		background-color: #8C6239;
		background-size: cover;
		background-position: center;
		position: relative;
		padding: 60px 0px 100px;
		position: relative;
		color: #ffffff;
	}
	
	.bg-darker {
		background: #222222;
	}
	
	.section-lander .container {
		padding: 0px;
	}
	
	.section-lander h1 {
		font-size: 3rem;
		font-weight: 800;
		color: #ffffff;
	}
	
	.section-lander h4 {
		font-weight: 600;
	}
	
	.btn-link:hover {
		background: rgba(0,0,0,.3);
		text-decoration: none;
		color: #fafafa;
	}
	
	.form-box {
		background: rgba(62, 64, 64, 0.55);
		padding: 25px 25px 10px;
		border-radius: 6px;
	}

	.form-box .form-control {
		border: none;
	}

	.section-sub {
		background: #ffffff;
		position: relative;
		padding: 80px 0px 100px;
	}

	.services-container {
		/* margin-top: -170px; */
		padding: 0px;
		border-radius: 6px;
	}

	.section-services {
		background: #F2F2F2;
	}

	.section-services .project {
		margin-bottom: 1rem;
	}

	.sec-heading h2 {
		font-weight: 600;
	}

	.sec-heading::after {
		content: url("https://cdn.vnoc.com/framework/heading-space-line.png");
		left: 0;
		position: absolute;
		right: 0;
		top: 100%;
	}

	.card {
		background-color: #fff;
		border: none;
		border-radius: 8px !important;
		box-shadow: none !important;
	}

	.card-content {
		padding: 1.2rem 1.2rem 0.5rem;
	}

	.media {
		align-items: flex-start;
		display: flex;
		text-align: left;
	}

	.media-left {
		margin-right: .8rem;
	}

	.media-left, .media-right {
		flex-basis: auto;
		flex-grow: 0;
		flex-shrink: 0;
	}

	.image.is-48x48 {
		height: 48px;
		width: 48px;
	}

	.img-rounded, .img-rounded > img {
		border-radius: 5px;
	}

	.image {
		display: block;
		position: relative;
	}

	.image img {
		display: block;
		height: auto;
		width: 100%;
	}

	.img-rounded, .img-rounded > img {
		border-radius: 5px;
	}

	.media-content {
		overflow: hidden !important;
	}

	.media-content {
		flex-basis: auto;
		flex-grow: 1;
		flex-shrink: 1;
		overflow: auto;
		text-align: left;
	}

	.media-content {
		text-align: left;
	}

	.title.is-5 {
		font-size: 1.15rem;
		display: block;
		text-overflow: ellipsis;
		word-wrap: break-word;
		overflow: hidden;
		max-height: 3.8em;
		line-height: 1.3em;
	}

	.title {
		color: #363636;
		font-size: 2rem;
		font-weight: 600;
		line-height: 1.125;
	}

	.subtitle, .title {
		word-break: break-word;
	}

	.title {
		margin-bottom: 1rem;
	}

	.subtitle {
		color: #4a4a4a;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.25;
	}

	.media-content a:hover {
		text-decoration: none;
	}
	
	.media-content a p {
		color: #a09c9c;
	}

	.media-right {
		margin-left: 1rem;
	}

	.media-left, .media-right {
		flex-basis: auto;
		flex-grow: 0;
		flex-shrink: 0;
	}

	.media-left .fas {
		color: #B7B7B7;
		font-size: 2rem;
	}

	.button.is-rounded {
		border-radius: 290486px;
		padding-left: 1em;
		padding-right: 1em;
	}

	.button.is-small {
		border-radius: 25px;
		font-size: .55rem;
	}

	.button .icon:first-child:not(:last-child) {
		margin-left: calc(-.375em - 1px);
		margin-right: .1875em;
	}

	.button > .icon {
		margin-right: 3px !important;
	}

	.button .icon, .button .icon.is-large, .button .icon.is-medium, .button .icon.is-small {
		height: 1.5em;
		width: 1.5em;
	}

	.icon {
		align-items: center;
		display: inline-flex;
		justify-content: center;
		height: 1.5rem;
		width: 1.5rem;
	}

	.card-footer {
		border-top: none;
		align-items: stretch;
		display: flex;
		background: #e9e9e9;
	}

	.card-footer-item {
		align-items: center;
		display: flex;
		flex-basis: 0;
		flex-grow: 1;
		flex-shrink: 0;
		justify-content: left;
	}
	
	.card-footer-item .badge {
	    color: #fff;
	    width: 100%;
	    padding: 1em 1em;
	}
	
	.card-footer-item .badge-primary {
	    background-color: #0071BC;
	}

	.facestack img {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border: 2px solid rgb(255, 255, 255);
	}

	.is-gold {
		color: gold;
	}
	
	.section-why {
		background: url(http://cdn.vnoc.com/servicechain/services-icons-bg.png.png);
		background-position: center;
		position: relative;
	}
	
	.section-why h3 {
		color: #0980C5;
		font-weight: 600;
	}
	
	.section-opportunity {
		background: linear-gradient(rgba(0, 10, 17, 0.85), rgba(13, 99, 157, 0.85)), rgba(13, 99, 157, 0.85) url('http://cdn.vnoc.com/mailchannel/businessman.jpg');
		background-size: cover;
		color: #fff;
		background-attachment: fixed;
		position: relative;
	}
	
	.section-opportunity h3 {
		color: #C4DDF3;
		font-weight: 800;
	}
	
	.section-testimonials {
		position: relative;
	}
	
	.section-getstarted {
		background: #0066A8;
		color: #ffffff;
		position: relative;
	}
	
	.section-getstarted h3 {
		font-weight: 800;
	}
	
	.section-getstarted .btn {
		font-weight: 600;
	}

	.conlist {
		font-size: 17px;
		white-space: nowrap; 
		overflow: hidden;
		text-overflow: " ..."; 
		margin-bottom: 5px;
	}

	.conlist a:hover {
		text-decoration: none;
	}

	.section-cities {
	    background-color: #fafafa;
	    padding: 40px 0 40px;
	}
	
	.section-cities .wrap-cityName-a {
		font-size: .85rem;
	}	

	.list-inline > li {
		display: inline-block;
		padding-left: 5px;
		padding-right: 5px;
	}
	.page-container {
	padding: 60px 20px 100px;
	}
	.breadcrumb-outer {
		background: #e9e9e9;
	}
	.breadcrumb {
		margin-bottom: 0rem;
	}
	.card-header {
		font-weight: 600;
		border-bottom: none;
	}
	.user-profile-photo {
	    border: 1px solid #ddd;
	}
	.details-inner a:hover {
		text-decoration: none;
	}
	
	/** Project **/
	.latest-proj-box {
		background: #fff;
		padding: 20px;
		border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
	}
	.clpb {
		height: 67px;
	}
	.lcb-image {
		border: 1px solid #eaeaea;
	}
	.page-footer {
		background: #ffffff;
	}
	
	.footer-dark-1 {
		color: #FFF;
		padding: 60px 0px 50px;
		background-color: #222;
	}

	.footer-dark-1 h3 {
		font-size: 18px;
		margin-top: 0px;
		margin-bottom: 15px;
		text-transform: uppercase;
	}

	.footer-dark-1 h3 a {
		text-transform: uppercase;
	}

	.footer-dark-1 .fa {
		font-size: 30px;
	}

	.footer-dark-1 a {
		color: #dedede !important;
		text-transform: capitalize;
	}

	.footer-dark-2 {
		color: #FFF;
		padding: 20px 0px 10px 0px;
		background-color: #111;
		margin-bottom: -40px;
		font-size: 12px;
	}

	.footer-dark-2 a {
		color: #dedede !important;
		font-size: 12px;
		text-transform: capitalize;
	}